* {
    margin: 0;
    padding: 0;
    font-family: Gowun Dodum;

    box-sizing: border-box;
}

#homelogo {
    width: 47px;
    height: 57px;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 47px;
    height: 57px;
    margin: 10px 0 30px 0;
}

.inputIdContainer {
    padding: 2em;
    width: 30em;
    height: 22em;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #e6e6e6;
    border-radius: 20px;
}

#inputIdForm {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}

#inputIdForm>input {
    width: 15em;
    height: 2em;

    padding: 1em;
    margin: 0.3em 0;
    border: none;
    border-radius: 10px;
    
}
.nextBtn {
    width: 15em;
    height: 2em;
    background-color: #ffffff;

    margin-top: 0.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.nextBtn:hover {
    background-color: #868686;
    color: #fff;
    transition-duration: 0.3s;
}

#findIdTag{
    color: #000;
    text-decoration: none;

}

/* --------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    font-family: Gowun Dodum;

    box-sizing: border-box;
}

hr{
    width: 25em;
    margin: 1.5em 0;
    border: 0.1px solid #bebebe;
    
}

.findPwTitle{
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.findPwContainer{
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    padding: 2em;
    border-radius: 10px;
}

.contentContainer > input{
    border: none;
    width: 20em;
    height: 2em;
    border-radius: 10px;
    padding: 1em;
    
    margin: 0.3em 0;
}

.contentContainer > div > input{
    border: none;
    width: 20em;
    height: 2em;
    border-radius: 10px;
    padding: 1em;
    
    margin: 0.3em 0;
}

#certifyBtn{
    border: none;
    background-color: #fff;
    padding: 0.3em 1em;
    border-radius: 10px;
    cursor: pointer;
}

#certifyBtn:hover{
    background-color: #868686;
    color: #fff;
    transition-duration: 0.3s;
}


.findPwContainer > div > label> input{
    margin-bottom: 1em;
}

#submitBtn{
    width: 10em;
    background-color: #fff;

    border: none;
    padding: 0.5em 2em;
    border-radius: 10px;
    margin-top: 1em;
    cursor: pointer;

    align-self: center;
}

#submitBtn:hover{
    background-color: #868686;
    color: #fff;
    transition-duration: 0.3s;
}