/********** 전체 화면 ******************************************************/
.mainContainer {
    width: 50rem;
    display: flex;
    flex-direction: column;
}

/********** X 버튼 ******************************************************/
#closeBtn {
    background-color: transparent;
    border: none;
    margin: 10px;
    cursor: pointer;
    align-self: flex-end;
}

#closeBtn > img {
    width: 1rem;
}

/********** 메인 화면 ******************************************************/
.wrap {
    position: relative;

    width: 50rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

input {
    display: none;
}

.slide {
    padding: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
}

.slide_item {
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.slide_item img {
    width: 50rem;
}

.left, .right {
    position: absolute;
    z-index: 10;
    top: 50%;
    padding: 30px;
    cursor: pointer;
}

.left {
    left: 0%;
    background: url('/team_project/images/left.png') center center / 30% no-repeat;
}

.right {
    right: 0%;
    background: url('/team_project/images/right.png') center center / 30% no-repeat;
}


.radio_button:nth-child(1):checked~.slide .slide_item {
    transform: translateX(0%);
}

.radio_button:nth-child(2):checked~.slide .slide_item {
    transform: translateX(-100%);
}

.radio_button:nth-child(3):checked~.slide .slide_item {
    transform: translateX(-200%);
}

.radio_button:nth-child(4):checked~.slide .slide_item {
    transform: translateX(-300%);
}

.radio_button:nth-child(5):checked~.slide .slide_item {
    transform: translateX(-400%);
}

.radio_button:nth-child(6):checked~.slide .slide_item {
    transform: translateX(-500%);
}

.radio_button:nth-child(7):checked~.slide .slide_item {
    transform: translateX(-600%);
}

.radio_button:nth-child(8):checked~.slide .slide_item {
    transform: translateX(-700%);
}

