*{
    margin: 0;
    padding: 0;
    font-family: Gowun Dodum;

    box-sizing: border-box;
}

#homelogo{
    width: 47px;
    height: 57px;
    margin: 20px;
}

body{
    width: 100vw;
    height: 100vh;
}

.profileContainer{
    display: flex;
    flex-direction: column;

    margin-top: 5em;
}

.imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-wrapper {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: #e6e6e6 1px solid;

    margin-bottom: 20px;
}

.img-wrapper > img {
    height: 100%;
}

label {
    cursor: pointer;
    font-size: 1em;
}

#chooseFile {
    visibility: hidden;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    width: 600px;
    height: 610px;
    background-color: #e6e6e6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.id, .password{
    width: 283px;
    display: flex;
    flex-direction: column;
}

.input{
    width: 453px;
    height: 60px;
    border: none;
    border-radius: 10px;
    margin: 5px 0 30px 0;
    padding: 0 15px;
    background-color: #e6e6e6;
    font-size: 20px;
}

.btn{
    width: 150px;
    height: 34px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e6e6e6;
    font-size: 16px;
    margin: 0 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color: #868686;
    color: #fff;
    transition-duration: 0.3s;
}

.btnContainer{
    display: flex;
    justify-content: end;
    margin-bottom: 200px;
}

