/* 글꼴 모음 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GowunDodum-Regular';
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#l_blank,
#r_blank {
    flex-basis: 30%;
}

/* 메인화면 */


main {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

#t_blank, #b_blank{
    flex-basis: 25%;
}

/* 프로필*/
.profile {
    display: flex;
    flex-basis: 25%;

    align-items: center;

}

.profileImg {
    flex-basis: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.profileImg a:hover{
    background-color: #868686;
    color: #fff;
    transition-duration: 0.3s;
}

.imgWrapper{
    margin-bottom: 10px;
}

.profileImg img {
    width: 7rem;
}

.managingProfileBtn {
    width: 7rem;
    text-decoration: none;
    border-radius: 10px;
    color: #000;
    background-color: #e6e6e6;

    padding: 0.3rem 0.8rem;

    display: flex;
    justify-content: center;
}

.managerProfile {
    flex-basis: 70%;
    flex-wrap: wrap;

    display: flex;
    justify-content: space-between;
}

.managerProfile > div{
    flex-basis: 40%;
    margin: 20px 5px;
}

.managerInfo{
    margin-top: 0.3rem;
    background-color: #e6e6e6;
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
}

/* 관리 메뉴 */
.managingContent {
    flex-basis: 25%;
    /* height: 100px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.managingContent a{
    flex-basis: 48%;
    height: 5rem;
    /* margin: 0 10px; */
    background-color: #e6e6e6;
    
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
}

.managingContent a:hover{
    background-color: #868686;
    color: #fff;
    transition-duration: 0.3s;
}

#newAlarm{
    padding: 0 0.3rem;
    margin-left: 0.4rem;
    background-color: #ff0000;
    border-radius: 5px;
    color: #fff;

    font-size: 0.8rem;
}
