/* 글꼴 모음 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 탑버튼 부드럽게 올리기 */
html {
    scroll-behavior: smooth;
}

/* 전체 */
* {
    box-sizing: border-box;
    font-family: 'GowunDodum-Regular';
}

body {
    margin: 0px;
    padding: 0px;
}

body > section {
    width: 100%;
    height: 1760px;
    display: flex;
    flex-direction: column;
}

/* top */
#top {
    font-family: 'Arita-buri-SemiBold';
    flex-basis: 25%;
    background-image: url("images/JEJ/제주메인이미지.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    line-height: 200px;
    font-size: 4rem;
    padding-left: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* bottom */
#bottom {
    flex-basis: 75%;
    display: flex;
}

/* footer */
#footer {
    display: flex;
    height: 300px;
}

#div1, #div3 {
    flex-basis: 20%;
}

#div3 {
    position: fixed;
    margin-left: 1800px;
    margin-top: 150px;
}

.images {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

/* bottom: images */
.row {
    flex-basis: calc(100%/3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.place-sec {
    flex-basis: calc(100%/4);
    display: flex;
    flex-direction: column;
}

.blank {
    flex-basis: 30%;
}

.place-img {
    flex-basis: 50%;
}

.content-images {
    width: 220px;
    height: auto;
    border-radius: 10px;

    transition: 0.3s ease-in-out;
}

/* 사진 호버시 효과 */
.content-images:hover {
    cursor: pointer;
    transform: scale(1.03);
    opacity: 0.8;
}

/* 장소이름 영역 */
.place-tit-sec {
    flex-basis: 20%;
    display: flex;
}

/* 장소이름 */
.tit {
    flex-basis: 70%;
}

/* X 버튼 영역 */
.x-btn-sec {
    flex-basis: 30%;
}

/* bottom: up-btn */
#up-btn {
    width: 50px;
    background-color: transparent;
    scroll-behavior: smooth;
    position: fixed;
    top: 93.8%;
    left: 98%;
    transform: translate(-50%, -50%);
    background-color: #dedede;
    border-radius: 50px;
}

#up-btn:hover {
    cursor: pointer;
}

/* 반응형 모바일 기준 */
/* 해상도 767px 이하면 무조건 여기 작성된대로 css 적용 */
@media all and (max-width:767px) {

    #div1, #div3 {
        display: none;
    }

}

/* ------------------ 관리자 ------------------ */
#plus-btn {
    border: none;
    border-radius: 20px;
    width: 220px;
    height: 260px;
    background-color: #ddd;
    font-size: 40px;
}

#plus-btn:hover {
    cursor: pointer;
    background-color: darkgray;
    color: white;
}

/* #row-plus {
    display: none;
} */

/* X 버튼 */
.x-btn {
    border: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-weight: bold;
}

.x-btn:hover {
    cursor: pointer;
    background-color: darkgray;
    color: white;
}
