/* 글꼴 모음 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 */
* {
    box-sizing: border-box;
    font-family: 'GowunDodum-Regular';
}

/* 섹션 나누는 줄 */
/* div, section {
    border: 1px solid black;
} */

body {
    margin: 0px;
    padding: 0px;
}

body > section {
    width: 100%;
    height: 2000px;
    display: flex;
    flex-direction: column;
}

/* top */
body > section > div:nth-child(1) {
    font-family: 'Arita-buri-SemiBold';
    flex-basis: 25%;
    background-image: url("images/GAN/강원메인이미지.png");
    background-size: cover;
    line-height: 300px;
    font-size: 60px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* bottom */
body > section > div:nth-child(2) {
    flex-basis: 75%;
    display: flex;
}

body > section > div:nth-child(2) > div:nth-child(1),
body > section > div:nth-child(2) > div:nth-child(3) {
    flex-basis: 20%;
}

body > section > div:nth-child(2) > div:nth-child(3) {
    position: fixed;
    margin-left: 1800px;
    margin-top: 150px;
}

body > section > div:nth-child(2) > div:nth-child(2) {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

/* bottom: images */
.images > div {
    flex-basis: calc(100%/3);
    display: flex;
}

.images > div > div {
    flex-basis: calc(100%/4);
    display: flex;
    flex-direction: column;
}

.images > div > div > div:nth-child(1) {
    flex-basis: 30%;
}

.images > div > div > div:nth-child(2) {
    flex-basis: 50%;
}

.content-images {
    width: 240px;
    height: 260px;
    border-radius: 10px;
}

.images > div > div > div:nth-child(3) {
    flex-basis: 20%;
}

/* bottom: up-btn */
#up-btn {
    font-size: 40px;
    border: 2px solid #ddd;
    border-radius: 50px;
    background-color: transparent;
}

#up-btn:hover {
    cursor: pointer;
}

/* 반응형 모바일 기준 */
/* 해상도 767px 이하면 무조건 여기 작성된대로 css 적용 */
@media all and (max-width:767px) {
    
    .images > div {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #div1, #div3 {
        display: none;
    }

}

