@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}


body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 300px;
    margin-left: 50px;
}

nav > button {
    width: 100px;
    height: 40px;
    margin-top: 15px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: large;
}

header {
    display: flex;
}

#clientServicePage {
    width: 1920px;
    height: 4810px;
    display: flex;
    flex-direction: column;
}

#clService-headImage-box {
    width: 1920px;
    height: 250px;
    background-image: url("/semiProjectImage/기차-고객지원.jpg");
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    height: 4420px;
}

#textPack {
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
}

#textPack > section:nth-child(1) {
    flex-basis: 30%;
    font-size: x-large;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gowun Dodum', sans-serif;
}

#textPack > section:nth-child(2) {
    flex-basis: 70%;
    display: flex;
}

#textPack-bottom > div:nth-child(1) {
    flex-basis: 30%;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: x-large;
    font-family: 'Gowun Dodum', sans-serif;
}

#introduceText {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
}

#introduceText > div {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-family: 'Gowun Dodum', sans-serif;
    line-height: 40px;
}







